$fn-container-width: 640px;
$fn-default-font: Verdana;
$fn-default-font-size: 12px;

$fn-todo-table-color: #333333;
$fn-todo-table-background-color: #FFFFFF;
$fn-todo-table-header-color: #CCCCCC;
$fn-row-width-small: 80px;
$fn-row-width-button-small: 130px;

$fn-black: #000000;
$fn-white: #FFFFFF;